.env
.venv/
10familias
venv/
__pycache__/
testes/
config.json
credentials.json
token.json
deduplicacao.txt
request+family+oxalidaceae+2026+03+25.csv
dezoomify-rs.exe
nomes/
pipeline.ipynb
tcc/
request+family+Piperaceae+2026+05+20.csv
tcc.csv
imagens-saida/
imagens-saida-resnet/
model_training.ipynb
testing.ipynb
balanceado-saida-ext-resnet/
balanceado/
balanced-images/
balanceado-teste/
poucas/
poucas-teste/
poucas-teste-2/
balanceado-teste-2/
balanced-images-4/